/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */




body{
  overflow-x: hidden;
}
/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --selective-yellow: hsl(42, 94%, 55%);
  --eerie-black-1: hsl(0, 0%, 9%);
  --eerie-black-2: hsl(180, 3%, 7%);
  --quick-silver: hsl(0, 0%, 65%);
  --radical-red: hsl(351, 83%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --isabelline: hsl(36, 33%, 94%);
  --gray-x-11: hsl(0, 0%, 73%);
  --kappel_15: #000000;
  --platinum: hsl(0, 0%, 90%);
  --gray-web: hsl(0, 0%, 50%);
  --black_80: hsla(0, 0%, 0%, 0.8);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --kappel: #008EF2;
  --white: hsl(0, 0%, 100%);
  --cultured: hsl(0, 0%, 93%);
  --bg-white: hsla(0, 0%, 100%, 1);

  --bg-black: hsla(0, 0%, 0%, 1);

  /**
   * gradient color
   */

  --gradient: linear-gradient(-90deg,hsl(151, 58%, 46%) 0%,hsl(170, 75%, 41%) 100%);

  /**
   * typography
   */

  --ff-league_spartan: 'League Spartan', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 4.2rem;
  --fs-2: 3.2rem;
  --fs-3: 2.3rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;
  --fs-8: 2rem;
  --fs-9: 1.8rem;
  --fs-10: 1.5rem;
  --fs-11: 1.4rem;
  --fs-12: 1.3rem;

  --fw-500: 500;
  --fw-600: 600;



  /**
   * spacing
   */

  --section-padding: 75px;

  /**
   * shadow
   */

  --shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
  --shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);
  --shadow-4: 3px 4px 30px hsla(0, 0%, 53%, 0.1);
  /**
   * radius
   */

  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-3: 3px;
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-circle: 50%;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
data,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }


button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--gray-web);
  font-size: 1.6rem;
  line-height: 1.75;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: var(--kappel); width: 8px; }

::-webkit-scrollbar-thumb:hover { background-color: var(--kappel); }






/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.shape {
  position: absolute;
  display: none;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
  line-height: 1;
}

.h1,
.h2 { font-weight: var(--fw-600); }

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}

.section-title {
  --color: var(--radical-red);
  text-align: center;
}

.section-title .span {
  display: inline-block;
  color: var(--kappel);
}
.section-title .span-gradient {
  background: linear-gradient(to left, var(--kappel), var(--kappel));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}




.btn {
  background-color: var(--kappel);
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: max-content;
  padding: 10px 20px;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.btn::before {
  inset: 0;
  background-image: var(--gradient);
  z-index: -1;
  border-radius: inherit;
  transform: translateX(-100%);
  transition: var(--transition-2);
}

.btn:is(:hover, :focus)::before { transform: translateX(0); }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}





.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-text {
  font-size: var(--fs-5);
  text-align: center;
  margin-block: 15px 25px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.category-card,
.stats-card { background-color: hsla(var(--color), 0.1); }

:is(.course, .blog) .section-title { margin-block-end: 40px; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header.active { position: fixed; }

.header .container,
.header-actions,
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-action-btn,
.nav-close-btn {
  position: relative;
  color: var(--eerie-black-1);
  font-size: 24px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) { color: var(--kappel); }

.header-action-btn .btn-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--kappel);
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-6);
  min-width: 20px;
  height: 20px;
  border-radius: var(--radius-circle);
}

/*
  * Navbar
  .navbar {
  position: fixed;
  top: 0;
  left: -320px;
  background-color: var(--white);
  width: 100%;
  max-width: 320px;
  height: 100%;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(320px);
  transition: 0.5s var(--cubic-out);
}
  */


.navbar {
  position: fixed;
  top: 0;
  left: 0; /* Modifié pour partir du bord gauche de l'écran */
  background-color: var(--white);
  width: 0; /* Commencez avec une largeur de 0 */
  height: 100%;
  z-index: 2;
  overflow-x: hidden; /* Pour éviter tout débordement de contenu */
  transition: 0.5s var(--cubic-in); /* Ajustez selon besoin */
}

.navbar.active {
  width: 100%; /* Prend toute la largeur lorsqu'active */
  transition: 0.5s var(--cubic-out); /* Conservez pour l'animation */
}

.navbar .wrapper {
  padding: 15px 20px;
  border-block-end: 1px solid var(--platinum);
}

.nav-close-btn {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  padding: 8px;
  border-radius: var(--radius-circle);
}

.nav-close-btn:is(:hover, :focus) {
  background-color: var(--kappel);
  color: var(--white);
}

.navbar-list { padding: 15px 20px; }

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--platinum); }

.navbar-link {
  padding-block: 8px;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--kappel); }

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_80);
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: calc(var(--section-padding) + 80px); }

.hero .container {
  display: grid;
  gap: 40px;
}

.hero-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-4);
  text-align: center;
  margin-block: 18px 20px;
}

.hero .btn { margin-inline: auto; }

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: flex-start;
  gap: 30px;
}

.hero-banner .img-holder.one {
  border-top-right-radius: 70px;
  border-bottom-left-radius: 110px;
}

.hero-banner .img-holder.two {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 90px;
}





/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category {
  padding-bottom: 0px !important;
  padding-top: 100px !important;
  
  }



.category .section-title { --color: var(--kappel); }

.category .section-text { margin-block-end: 40px; }

.category-card {
  padding: 50px 30px;
  text-align: center;
  border-radius: var(--radius-5);
  display: flex;
  flex-direction: column;
}

.category-card .card-icon {
  background-color: hsla(var(--color), 0.1);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  margin-inline: auto;
  margin-block-end: 30px;
}

.category-card .card-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-5);
  margin-block: 15px 25px;
}

.category-card .card-badge {
  background-color: hsla(var(--color), 0.1);
  color: hsl(var(--color));
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 2px 18px;
  max-width: max-content;
  margin-inline: auto;
  border-radius: var(--radius-5);
}

.UlChiffres{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.UlChiffres li{
  flex: 1 0 51%;
}

@media (max-width: 1000px) {
  .UlsavoirFaire li{
    flex: 1 0 100%;
  }
}





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  padding-block-start: 0;
  overflow: hidden;
  margin-top: 150px;
  padding-bottom: 20px;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.about-banner .img-holder { border-radius: var(--radius-10); }

.about-shape-2 {
  display: block;
  bottom: -100px;
  left: -60px;
  animation: bounce 2.5s infinite;
}

.img-cover-edit{
  width: 100%;
  height: 80%;
  object-fit: cover;
  
}

.about-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */

}

.about-details {
  flex: 1; /* Distribute available space equally among items */

  margin: 10px; /* Adjust margin as needed */
  color: var(--bg-white); /* Set text color */
  cursor: pointer;

}

.about-details .role{
  text-transform: uppercase;
  font-size: 1.2rem;
  }
.about-details .nom{
  font-size: 1.2rem;
}

.about-details .num{
  padding-top: 10px;
}


.about-details .num, .mail{
  font-size: 1.1rem;
  color: var(--bg-white);
  font-style: italic;
}


@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% { transform: translateY(0); }

  40% { transform: translateY(-30px); }

  60% { transform: translateY(-15px); }
}

.about :is(.section-subtitle, .section-title, .section-text) {
  text-align: left;
}

.about-item {
  margin-block: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-item ion-icon {
  color: var(--kappel);
  font-size: 20px;
  --ionicon-stroke-width: 50px;
}

.about-item .span {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
}





/*-----------------------------------*\
  #PORTFOLIO ET AVIS
\*-----------------------------------*/

.ulPortfolio {
  display: flex;
  overflow-x: auto; /* Permet le défilement horizontal */
  gap: 20px;
  white-space: nowrap; /* Empêche le retour à la ligne des éléments */
}

.ulPortfolio li{
  width: 500px;
}

.course {  }

.course-card {
  position: relative;
  background-color: var(--white);
  border-radius: var(--radius-5);
  overflow: hidden;
}

.course-card .img-cover { transition: var(--transition-2); }

.course-card:is(:hover, :focus-within) .img-cover { transform: scale(1.1); }

.course-card :is(.abs-badge, .badge) {
  font-family: var(--ff-league_spartan);
  border-radius: var(--radius-3);
}

.course-card .abs-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--selective-yellow);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  padding: 6px 8px;
  padding-block-end: 3px;
}

.course-card .abs-badge ion-icon {
  font-size: 18px;
  margin-block-end: 5px;
  --ionicon-stroke-width: 50px;
}

.course-card .card-content {
  padding: 25px;
  word-wrap: break-word; /* Ajout pour permettre le passage à la ligne */
 }

.course-card .badge {
  background-color: var(--kappel_15);
  max-width: max-content;
  color: var(--kappel);
  line-height: 25px;
  padding-inline: 10px;
}

.course-card .card-title {

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-block: 15px 8px;
  transition: var(--transition-1);
  word-wrap: break-word; /* Ajout pour forcer le passage à la ligne */

}

.course-card .card-title:is(:hover, :focus) { color: var(--kappel); }

.course-card :is(.wrapper, .rating-wrapper, .card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}

.course-card .wrapper { gap: 10px; }

.course-card .rating-wrapper { gap: 3px; }

.course-card .rating-wrapper ion-icon { color: var(--selective-yellow); }

.course-card .rating-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}


.course-card .price {
  color: var(--radical-red);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-block: 8px 15px;
}

.course-card .card-meta-list { flex-wrap: wrap; }

.course-card .card-meta-item {
  position: relative;
  gap: 5px;
}

.course-card .card-meta-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  color: var(--platinum);
  padding-inline: 10px;
}

.course-card .card-meta-item ion-icon {
  color: var(--quick-silver);
  --ionicon-stroke-width: 50px;
}

.course-card .card-meta-item .span {
  color: var(--eerie-black-1);
  font-size: var(--fs-7);
}

.course .btn {
  margin-inline: auto;
  margin-block-start: 60px;
}





/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

.video {
  background-size: contain;
  background-position: center top;
}

.video-banner {
  position: relative;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 120px;
}

.video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--radical-red);
  font-size: 30px;
  padding: 16px;
  color: var(--white);
  border-radius: var(--radius-circle);
  box-shadow: 0 0 0 0 var(--white_50);
  z-index: 1;
  animation: pulse 3s ease infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--white_50); }
  100% { box-shadow: 0 0 0 20px transparent; }
}

.video-banner::after {
  inset: 0;
  background-color: var(--black_30);
}





/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats-card {
  text-align: center;
  padding: 25px;
  border-radius: var(--radius-10);
}

.stats-card :is(.card-title, .card-text) {
  font-family: var(--ff-league_spartan);
  word-wrap: break-word; /* Permettre au texte de passer à la ligne */

 }

.stats-card .card-title {
  color: hsl(var(--color));
  font-size: var(--fs-2);
  line-height: 1.1;
}

.stats-card .card-text {
  color: var(--eerie-black-1);
  text-transform: uppercase;
  word-wrap: break-word; /* Permettre au texte de passer à la ligne */

}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-card .card-banner { border-radius: var(--radius-10); }

.blog-card .card-banner .img-cover { transition: var(--transition-2); }

.blog-card .card-banner::after {
  inset: 0;
  background-color: var(--black_50);
  opacity: 0;
  transition: var(--transition-1);
}

.blog-card:is(:hover, :focus-within) .card-banner .img-cover { transform: scale(1.1); }

.blog-card:is(:hover, :focus-within) .card-banner::after { opacity: 1; }

.blog-card .card-content {
  position: relative;
  margin-inline: 15px;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-3);
  margin-block-start: -100px;
  z-index: 1;
}

.blog-card .card-btn {
  position: absolute;
  top: -40px;
  right: 30px;
  background-color: var(--kappel);
  color: var(--white);
  font-size: 20px;
  padding: 20px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  opacity: 0;
}

.blog-card .card-btn:is(:hover, :focus) { background-color: var(--radical-red); }

.blog-card:is(:hover, :focus-within) .card-btn {
  opacity: 1;
  transform: translateY(10px);
}

.blog-card :is(.card-meta-item, .card-text, .card-subtitle) {
  font-size: var(--fs-5);
  padding: 5px;
}

.blog-card .card-subtitle { text-transform: uppercase; }

.blog-card .card-title {
  margin-block: 10px 15px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--kappel); }

.blog-card :is(.card-meta-list, .card-meta-item) { display: flex; }

.blog-card .card-meta-list {
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-block-end: 20px;
}

.blog-card .card-meta-item {
  gap: 10px;
  align-items: center;
  color: var(--eerie-black-1);
}

.blog-card .card-meta-item ion-icon {
  color: var(--kappel);
  font-size: 18px;
  --ionicon-stroke-width: 40px;
}









/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: var(--kappel);
  color: var(--white);
  font-size: 20px;
  padding: 15px;
  border-radius: var(--radius-circle);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.back-top-btn.active {
  transform: translateY(10px);
  opacity: 1;
  pointer-events: all;
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list { grid-template-columns: 1fr 1fr; }

  :is(.course, .blog) .grid-list { grid-template-columns: 1fr; }



  /**
   * HEADER
   */

  .header .container { max-width: unset; }

  .header-actions { gap: 30px; }



  /**
   * HERO
   */

  .hero-banner { grid-template-columns: 1fr 0.9fr; }



  /**
   * VIDEO
   */

  .video .play-btn { padding: 25px; }



  /**
   * STATS
   */

  .stats-card { padding: 40px 30px; }





}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .btn { padding: 15px 30px; }

  :is(.course, .blog) .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * HEADER
   */

  .header .container { padding-inline: 30px; }

  .header .btn {
    display: flex;
    padding: 10px 30px;
    margin-inline: 20px;
  }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 90px); }

  .hero .container { gap: 50px; }

  .hero-text { margin-block-end: 30px; }

  .hero-banner {
    position: relative;
    z-index: 1;
  }

  .hero-banner .img-holder { max-width: max-content; }

  .hero-banner .img-holder.one { justify-self: flex-end; }

  .hero-banner .img-holder.two { margin-block-start: 100px; }

  .hero-shape-1 {
    display: block;
    position: absolute;
    bottom: -40px;
    left: -10px;
  }



  /**
   * ABOUT
   */

  .about { padding-block-start: 50px; }

  .about-banner {
    padding: 60px;
    padding-inline-end: 0;
  }

  .about-banner .img-holder {
    max-width: max-content;
    margin-inline: auto;
  }

  .about-shape-1 {
    display: block;
    top: -40px;
    right: -70px;
  }




}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .grid-list { grid-template-columns: repeat(3, 1fr); }

  :is(.course, .blog) .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * HERO
   */

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero .section-title,
  .hero-text { text-align: left; }

  .hero .btn { margin-inline: 0; }



  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: center;
    gap: 60px;
  }



  /**
   * VIDEO
   */

  .video-banner {
    max-width: 75%;
    margin-inline: auto;
  }





}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1185px; }

  .shape { display: block; }

  .about-content,
  .video-card,
  .blog { position: relative; }



  /**
   * HEADER
   */

  .header-action-btn:last-child,
  .navbar .wrapper,
  .overlay { display: none; }

  .header.active {
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
  }

  @keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  }

  .navbar,
  .navbar.active { all: unset; }

  .navbar-list {
    display: flex;
    gap: 50px;
    padding: 0;
  }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    color: var(--eerie-black-1);
    padding-block: 20px;
  }

  .header .btn { margin-inline-end: 0; }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 120px); }

  .hero .container { gap: 80px; }

  .hero-shape-2 {
    top: -80px;
    z-index: -1;
  }



  /**
   * ABOUT
   */

  .about .container { gap: 110px; }

  .about-banner .img-holder { margin-inline: 0; }

  .about-shape-3 {
    top: -20px;
    left: -100px;
    z-index: -1;
  }

  .about-content { z-index: 1; }
  .about-content .section-subtitle{
    padding-top: 100px !important;
  }
  .about-shape-4 {
    top: 30px;
    right: -60px;
    z-index: -1;
  }



  /**
   * VIDEO
   */

  .video-shape-1 {
    top: -50px;
    left: 0;
  }

  .video-shape-2 {
    top: -80px;
    right: 120px;
    z-index: 1;
  }



  /**
   * BLOG
   */

  .blog-shape {
    top: 0;
    left: 0;
  }

}


/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.processusContainer{

}

.ulProcessus{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;

}



/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 var(--bg-black),
              inset -55vw 0 0 0 var(--bg-black);
  display: grid;
  place-items: center;
  z-index: 10;
}

.preloader.loaded {
  transition: 300ms ease 500ms;
  pointer-events: none;
  box-shadow: inset 0 0 0 0 var(--bg-white),
              inset 0 0 0 0 var(--bg-white);
}

.preloader .line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-white);
  transition: var(--transition-2);
  animation: loading 1000ms linear forwards;
}

@keyframes loading {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(0.3); }
}

.preloader.loaded .line { animation: loaded 500ms ease forwards; }

@keyframes loaded {
  0% { transform: scaleY(0.3); }

  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

/*-----------------------------------*\
  #SAVOIR FAIRE
\*-----------------------------------*/

.service .section-text { margin-block: 15px 50px; }

.service .grid-list { margin-block-end: 50px; }

.service-card {
  height: 100%;
  padding: 30px 25px;
  text-align: center;
  box-shadow: var(--shadow-1);
}

.service-card::after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--kappel);
  transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within)::after { width: 100%; }

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 10px;
}

.service-card .img { transition: var(--transition-1); }

.service-card:is(:hover, :focus-within) .img { transform: scale(1.1); }

.service-card .card-text { margin-block: 5px 13px; }

.service .btn { margin-inline: auto; }

.UlsavoirFaire{
  display: flex;
  flex-wrap: wrap;
}

.UlsavoirFaire li{
  flex: 1 0 45%;
}

@media (max-width: 1200px) {
  .UlsavoirFaire li{
    flex: 1 0 100%;
  }
}



/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features .section-text { margin-block: 15px 50px; }

.features-card {
  position: relative;
  background-color: var(--white);
  padding: 25px;
  padding-block-start: 40px;
  margin-block-start: 24px;
  box-shadow: var(--shadow-4);
  transition: var(--transition-2);
}

.features-card:hover { background-color: var(--kappel); }

.features-card .card-number {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  background-color: var(--cultured);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  padding-block: 5px;
  min-width: 50px;
  text-align: center;
  border-radius: var(--radius-5);
  transition: var(--transition-1);
}

.features-card:hover .card-number { color: var(--kappel); }

.features-card .card-title {
  font-size: var(--fs-3);
  margin-block-end: 5px;
}

.features-card :is(.card-title, .card-text) { transition: var(--transition-1); }

.features-card:hover :is(.card-title, .card-text) { color: var(--white); }






/*-----------------------------------*\
  #FAQ
\*-----------------------------------*/

.faq .container {

  gap: 20px;
}

.faq .title-wrapper {
  background-color: var(--white);
  padding: 30px 25px;
  box-shadow: var(--shadow-1);
}



.faq-card {
  background-color: var(--);
  border-radius: var(--radius-5);
  overflow: hidden;
}

.faq-card .card-action {
  --action-bg: var(--bg-black);
  --color: var(--white);

  background-color: var(--action-bg);
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  gap: 20px;
  transition: var(--transition-1);
}

.faq-card .card-action:is(:hover, :focus, .active) {
  --action-bg: var(--kappel);
  --color: var(--bg-white);
}

.faq-card .card-title {
  color: var(--color);
  font-size: var(--fs-8);
  transition: var(--transition-1);
}

.faq-card ion-icon {
  color: var(--color);
  font-size: 15px;
  transition: var(--transition-1);
  --ionicon-stroke-width: 60px;
}

.faq-card .card-action.active .open,
.faq-card .card-action .close { display: none; }

.faq-card .card-action .open,
.faq-card .card-action.active .close { display: block; }

.faq-card .card-content {
  font-size: var(--fs-10);
  padding-inline: 25px;
  max-height: 0;
  overflow: hidden;
  transition: var(--transition-2);
  border-style: solid; /* Assurez-vous que le style de bordure est défini comme "solid" */
  border-color: var(--kappel); /* Couleur de la bordure */
  border-width: 0 1px 1px 1px; /* Largeur de la bordure (haut, droite, bas, gauche) */
  border-radius: 0 0 var(--radius-5) var(--radius-5); /* Arrondi uniquement des coins inférieurs */
}


.faq-card .card-content p {
  margin-block: 15px;
  color: var(--quick-silver);
 }

.faq-card .card-action.active + .card-content { max-height: 500px; }

.faqUl{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.faqUl li{
  flex: 1 0 45%;
}

@media (max-width: 1200px) {
  .faqUl li{
    flex: 1 0 100%;
  }
}



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-top {
  background-color: var(--bg-black);
  color: var(--white);

}

.footer-top .section-title{
  color: var(--white);
}

.footer-bg {
  position: relative;
  width: 100%;
  height: auto; /* ou vous pouvez spécifier une hauteur spécifique */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* la moitié supérieure de l'image */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* dégradé du noir transparent en haut vers noir opaque en bas */
}

.social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Aligner horizontalement au centre */
  list-style: none;
  padding-top: 50px;
  gap: 30px;
  margin: auto; /* Centrer horizontalement */
}

.social-link {
  display: flex;
  align-items: center; /* Aligner verticalement au centre */
  margin: 0 10px; /* Marge entre les icônes */
  animation: bounce 2.5s infinite;
}

.social-link ion-icon {
  margin-right: 10px; /* Marge à droite des icônes pour l'espace */
  font-size: var(--fs-1); /* Taille des icônes */
  color: var(--kappel)
}





/*-----------------------------------*\
  #CUSTOM CURSOR
\*-----------------------------------*/



  /**
   * CUSTOM CURSOR
   */

  .cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: var(--white);
    mix-blend-mode: exclusion;
    border-radius: var(--radius-circle);
    transform: translate(-50%, -50%) scale(0.35);
    transition: transform 0.35s;
    pointer-events: none;
    z-index: 6;
  }

  .cursor.hovered { transform: translate(-50%, -50%) scale(1.2); }

  .cursor.disabled { transform: translate(-50%, -50%) scale(0); }

  @media (max-width: 1200px) {
    .cursor { display: none; }
  }



  /*-----------------------------------*\
  #TOGGLE TARIFS
\*-----------------------------------*/

.UlPrice{
  padding-top: 120px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 25px;

}

.UlPrice li{
  flex: 1 0 33%;
}

.container-toggle {
  display: none;

}


@media (max-width: 1000px) {

.UlPrice li{
  width: 40%;
}

.container-toggle {
  display: block;
  margin: 30px auto 0;
  color: white;
  padding: 10px;
}

.switch {
  position: relative;
  height: 32px;
  width: 300px;
  margin: 20px auto;
  background: #F2F2F2;
  background: #D7D7D7;
  border-radius: 32px;
}
.switch-label {
  font-weight: bold;
  position: relative;
  z-index: 2;
  float: left;
  width: 100px;
  line-height: 32px;
  font-size: 12px;
  color: #676a6c;
  text-align: center;
  cursor: pointer;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  color: #FFF;
  transition: 0.15s ease-out;
  transition-property: color, text-shadow;
}

.switch-input:checked + .switch-label-y ~ .switch-selector {
  transform: translateX(0%);
  background-color: var(--kappel);
}
.switch-input:checked + .switch-label-i ~ .switch-selector {
  transform: translateX(100%);
  background-color: var(--kappel);
}
.switch-input:checked + .switch-label-n ~ .switch-selector {
  transform: translateX(200%);
  background-color: var(--kappel);
}


.switch-selector {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: block;
  width: 100px;
  height: 32px;
  border-radius: 32px;
  background-color: #1ab394;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


  .active-price{
    display: block;
    transition: var(--transition-2);
  }

  .hidden-price{
    display: none;
    transition: var(--transition-2);
  }
}

.tarifs-trait{
  text-decoration: line-through;
}

  /*-----------------------------------*\
  #CAROUSEL PORTFOLIO
\*-----------------------------------*/


.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}


  /*-----------------------------------*\
  #SWIPER PORTFOLIO
\*-----------------------------------*/

.course swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  --swiper-navigation-color: #000000;
}

.course swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
}

.course swiper-slide img {
  display: block;
  width: 100%;
  border-radius: var(--radius-10);
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}


.badge-portfolio {
  width: max-content;
  text-align: center;
  max-width: max-content;
  line-height: 20px;
  padding-inline: auto;
  margin: 10px 0px;
  border-radius: var(--radius-10);
}

.container-portfolio strong {
  color: var(--bg-black);
}


.avis-portfolio {
  color: var(--bg-black);
  text-align: center;
  font-style: italic;
  max-width: max-content;
  line-height: 20px;
  padding-inline: 10px;

}

@media (max-width: 1000px) {

  .course swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 400px;
  }
}


  /*-----------------------------------*\
    #HIDE HEADER
\*-----------------------------------*/

  .hideHeader{
    display: none;
    transition: var(--transition-2);
  }


  /*-----------------------------------*\
    #LOGO
\*-----------------------------------*/

.logo {
  font-size: var(--fs-2); /* Taille de la police */
  font-style: italic;
  font-weight: bold; /* Gras */
  text-decoration: none; /* Pas de soulignement */
  color: black; /* Couleur de texte par défaut */
  display: flex;
}

@media (max-width: 1000px) {

  .logo {
    font-size: var(--fs-2); /* Taille de la police */

  }
}


.logo .lettersWEB {
  color: var(--bg-black); /* Couleur noire pour les deux dernières lettres */
}
.logo .lettersLM {
  color: var(--kappel); /* Couleur bleue pour les trois premières lettres */
}

strong {
  color: var(--kappel);
}


  /*-----------------------------------*\
    #ANIMATION
\*-----------------------------------*/

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.activeAnimation {
  transform: translateY(0);
  opacity: 1;

}


  /*-----------------------------------*\
    #LANDING FLUIDE ANIMATION
\*-----------------------------------*/
 #landing{
  height: 100vh;
  width: 100vw;
}
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

canvas {
  width: 100% !important;
  height: 100%  !important;
  position: absolute  !important;
  z-index: 1  !important;
  margin-top: -15px;
}

    .Logo{
            background:pink;
            height:100px;
            width:200px;
            background:url(https://styrkin.s3-eu-west-1.amazonaws.com/public/logo_2.png);
            background:url(https://styrkin.s3-eu-west-1.amazonaws.com/public/logo-text-only_2.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
            width: 200px;

          }

.slab{
  z-index: 2  !important;
  top: 38%;

  margin: auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

   height:fit-content;
  text-align: center;
  color:white;

      padding-bottom: 28px;
      position: absolute;
      left: 50%;
      transform: translateX(-55%);
}
/*Tablet REsponsiv e*/
.landing-h1{
  font-size: 5.4rem !important;
  font-weight: 700 !important;
  color: white !important;
  text-align: center !important;
}


.landing-trait {
  border-bottom: 3px solid var(--bg-white);
  width: 200px;
  padding-top: 15px;
}

.landing-italic{
  font-style: italic;

}

@media (max-width: 1000px) {
  .landing-h1{
    font-size: 2.9rem !important;


  }
  
  
  .landing-trait {
    border-bottom: 3px solid var(--bg-white);
  }
  
  .landing-italic{
    font-size: 1.5rem !important;
  }
}
/* ///  TIMER  //*/

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEE;
  margin-bottom: 15px;
}
.flip-clock {
  text-align: center;
  -webkit-perspective: 600px;
          perspective: 600px;
  margin: 0 auto;
}
.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
  box-sizing: border-box;
}
.flip-clock__piece {
  display: inline-block;
  margin: 0 0.2vw;
}
@media (min-width: 1000px) {
  .flip-clock__piece {
    margin: 0 5px;
  }
}
.flip-clock__slot {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  /*
  //position: relative;
  //top: -1.6em;
  z-index: 10;
  //color: #FFF;
*/
}
.flip-card {
  display: block;
  position: relative;
  padding-bottom: 0.72em;
  font-size: 2.25rem;
  line-height: 0.95;
}
@media (min-width: 1000px) {
  .flip-clock__slot {
    font-size: 16px;
  }
  .flip-card {
    font-size: 33px;
  }
}
/*////////////////////////////////////////*/
.flip-card__top,
.flip-card__bottom,
.flip-card__back-bottom,
.flip-card__back::before,
.flip-card__back::after {
  display: block;
  height: 0.72em;
  color: #ccc;
  background: #222;
  padding: 0.23em 0.25em 0.4em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visiblity: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 1.8em;
}
.flip-card__bottom,
.flip-card__back-bottom {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: #393939;
  border-radius: 0 0 0.15em 0.15em;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}
.flip-card__back-bottom {
  z-index: 1;
}
.flip-card__bottom::after,
.flip-card__back-bottom::after {
  display: block;
  margin-top: -0.72em;
}
.flip-card__back::before,
.flip-card__bottom::after,
.flip-card__back-bottom::after {
  content: attr(data-value);
}
.flip-card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}
.flip-card__back::before {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.flip .flip-card__back::before {
  z-index: 1;
  -webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
          animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.flip .flip-card__bottom {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
          animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}
@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 2;
  }
  0%,
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 0;
  }
}
@keyframes flipTop {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 2;
  }
  0%,
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 5;
  }
}
@keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 5;
  }
}

input {
    padding: 4px 10px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.cta{
  margin-top: 15px;
  background: green;
  font-size: 17px;
  padding: 11px 28px;

}


.cta {
  position: relative;
  display: block;
  float: none;
  color: white;
  border-radius: 10px;
  border: 2px solid #56616c;
  background: linear-gradient(#53a318, green);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease;
  text-align: center;
  overflow: hidden;
}
.shiny-button:focus {
  outline: none;
}
.shiny-button:active {
  margin: 5px auto 0;
  transition: all 0.2s ease;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
}
.shiny-button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 20px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
          animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
@keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}


/* mobile responsive */
/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {

  .slab {
    position: absolute;
    top: 30%;
    max-width: 80%; /* Adjust the maximum width for smaller screens */
    padding: 10px; /* Adjust padding */
    height: fit-content;
    left: 52.3%;
  }

  .Logo {
    height: 50px; /* Adjust the height of the logo */
    width: 100px; /* Adjust the width of the logo */
  }



  p {
    font-size: 14px; /* Adjust font size */
  }



  .button.cta {
    font-size: 10px; /* Adjust font size */
    padding: 5px 10px; /* Adjust padding */
  }

  canvas {
    max-width: 100%; /* Make canvas responsive */
    height: 100%; /* Allow canvas to adjust its height */
  }
  body{
    overflow-x: hidden;
  }
  .navbar{
    overflow-x: hidden;
  }

  #landing{
    height: 61vh;
  }
}


/* container rotation  animation on load */
.containerRotationAvis {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
  margin-bottom: 500px;
}

.carouselAvis {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.imageAvis {
  position: absolute;
  height: 200px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

.containerRotationAvis span {
  margin: auto;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--white);
}

.containerAvis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.rating {
  display: flex;
  gap: 10px;
}

.rating-wrapper {
  display: flex;
  gap: 3px;
  ;
}

.rating-wrapper ion-icon {
  color: var(--selective-yellow);
}


.rating-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

@keyframes rotate360 {
  from {
      transform: rotateY(360deg);
  }

  to {
      transform: rotateY(-360deg);
  }
}

.imageAvis:nth-child(1) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(0deg) translateZ(450px);
}

.imageAvis:nth-child(2) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(40deg) translateZ(450px);
}

.imageAvis:nth-child(3) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(80deg) translateZ(450px);
}

.imageAvis:nth-child(4) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(120deg) translateZ(450px);
}

.imageAvis:nth-child(5) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(160deg) translateZ(450px);
}

.imageAvis:nth-child(6) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(200deg) translateZ(450px);
}

.imageAvis:nth-child(7) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(240deg) translateZ(450px);
}

.imageAvis:nth-child(8) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(280deg) translateZ(450px);
}

.imageAvis:nth-child(9) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(320deg) translateZ(450px);
}


/*  to make the portfolio images responsive mobile friendly */
/* Base styles */
/* Base styles */

/* Adjustments for mobile screens */


/* Responsive styles */



@media only screen and (max-width: 768px) {
  #landing {
    height: 100vh !important;
}
.slab{

  display: flex;
  width: 100%;

}

.landing-h1{
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
  text-align: center;


}



.containerRotationAvis {
  position: relative;
  width: 100%;
  margin: 0px auto 0 auto;
  perspective: 500px;
  margin-bottom: 600px;
}

.carouselAvis {
  position: absolute;
  width: 100%;
  height: 250px;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
  padding: 50px;

}

.imageAvis {
  position: absolute;
  height: 100px;
  top: -190px;
  right: 0;
  margin: 260px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

.containerRotationAvis span {
  margin: auto;
  font-size: 6px ;
}

.containerAvis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

.rating {
  display: flex;
  gap: 5px;
  flex-direction:column;
}

.rating-wrapper {
  display: flex;
  gap: 2px;
}

.rating-wrapper ion-icon {
  color: var(--selective-yellow);
  font-size: 6px;
}


.rating-text {
  color: var(--eerie-black-1);
  font-size: 15px;
  font-weight: 200px;
}

@keyframes rotate360 {
  from {
      transform: rotateY(0deg);
  }

  to {
      transform: rotateY(360deg);
  }
}

.imageAvis:nth-child(1) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(0deg) translateZ(280px);
}

.imageAvis:nth-child(2) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(40deg) translateZ(280px);
}

.imageAvis:nth-child(3) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(80deg) translateZ(280px);
}

.imageAvis:nth-child(4) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(120deg) translateZ(280px);
}

.imageAvis:nth-child(5) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(160deg) translateZ(280px);
}

.imageAvis:nth-child(6) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(200deg) translateZ(280px);
}

.imageAvis:nth-child(7) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(240deg) translateZ(280px);
}

.imageAvis:nth-child(8) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(280deg) translateZ(280px);
}

.imageAvis:nth-child(9) {
  background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
  transform: rotateY(320deg) translateZ(280px);
}



}




@media (min-width: 300px) and (max-width: 600px) {

  #landing {
    height: 100vh !important;
}




  .containerRotationAvis {
    position: relative;
    width: 100%;
    margin: 100px auto 0 auto;
    perspective: 500px;
    margin-bottom: 300px;
  }

  .carouselAvis {
    position: absolute;
    width: 100%;
    height: 250px;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
    padding: 50px;

  }

  .imageAvis {
    position: absolute;
    height: 100px;
    top: -130px;
    /* left: 8px; */
    right: 10px;
    margin: 144px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
  }

  .containerRotationAvis span {
    margin: auto;
    font-size: 6px ;
  }

  .containerAvis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
  }

  .rating {
    display: flex;
    gap: 5px;
    flex-direction:column;
  }

  .rating-wrapper {
    display: flex;
    gap: 2px;
  }

  .rating-wrapper ion-icon {
    color: var(--selective-yellow);
    font-size: 6px;
  }


  .rating-text {
    color: var(--eerie-black-1);
    font-size: 15px;
    font-weight: 200px;
  }

  @keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
  }

  .imageAvis:nth-child(1) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(0deg) translateZ(160px);
  }

  .imageAvis:nth-child(2) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(40deg) translateZ(160px);
  }

  .imageAvis:nth-child(3) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(80deg) translateZ(160px);
  }

  .imageAvis:nth-child(4) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(120deg) translateZ(160px);
  }

  .imageAvis:nth-child(5) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(160deg) translateZ(160px);
  }

  .imageAvis:nth-child(6) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(200deg) translateZ(160px);
  }

  .imageAvis:nth-child(7) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(240deg) translateZ(160px);
  }

  .imageAvis:nth-child(8) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(280deg) translateZ(160px);
  }

  .imageAvis:nth-child(9) {
    background-image: url(https://i.pinimg.com/originals/5e/4c/65/5e4c655b9353e0be289273b3e7c4b227.jpg);
    transform: rotateY(320deg) translateZ(160px);
  }
}


/*  CARTE DE VISITE */

.container-cartes{
  display: flex;
  gap: 40px;
  justify-content: space-around;
  margin: 100px;
  
}

.visitecard-container {
  display: flex;
  background-color: var(--bg-black);

  height: 250px;
  width: 350px;
  background-size: cover; /* Ajustez la taille de l'image pour couvrir la totalité du conteneur */
  background-position: center; /* Centrez l'image */
  color: var(--bg-white);
}


.visitecard-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding-right: 15px;
}

.visitecard-left-container-titre, .visitecard-left-container-contact{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
}

 .visitecard-left-container-contact{
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

.nom-left{
  align-items: center;
  border-bottom: 2px solid rgb(255, 255, 255); /* Vous pouvez ajuster l'épaisseur de la ligne selon vos besoins */
  margin-bottom: 10px; /* Pour ajouter de l'espace sous la ligne */
}

.poste-left{
  font-size: 1.3rem;

}


.mail-left{
  font-size: 1.1rem;
}

.num-left{
  font-size: 1.4rem;
}



.visitecard-right{
  width: 40%;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.visitecard-container-photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




@media (max-width: 1000px) {
  .container-cartes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

/* BANNER */


.container-banner{
  display: flex;
  flex-direction: column;
}
.container-banner .container-form form{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-banner .container-form-footer{
  display: flex;
  justify-content: center;
}

.banner{
  background-color: var(--bg-black);
  color: var(--bg-white) !important;

}

#landing-calendly{
  margin-top: 50px;
}

.banner-margin{
  margin-top: 100px;
}

.banner .section-title{

  color: var(--bg-white) !important;
}


input, textarea {
  width: calc(80% - 10px); /* Make input field full width with a little padding */
  margin-bottom: 20px; /* Adjust spacing */
  padding: 5px; /* Add padding to the input */
  font-size: 10px;
  text-align: center;
  border-radius: var(--radius-5);
  padding: 15px;
  max-width: 350px;
  font-family: var(--ff-poppins);
  font-size: var(--fs-12);
  background-color: var(--bg-white);
}

input:focus, textarea:focus {
  outline: none; /* Enlever la bordure jaune par défaut */
}

#submit{
  margin-top: 25px;
}
#li-contact{
  display: none;
}

.container-price-prestation{
  display: flex; 
  align-items: center;
   gap: 5px;
}
.container-price-prestation .older-price{
  text-decoration: line-through;
}

@media (max-width: 768px) {
  #li-contact{
    display: block;
  }
}
